.Kalkulator-Segitiga {
    text-align: center;
    font-size: 36px;
    background-color: chartreuse;
    margin-right: 50px;
    margin-left: 50px;
    border-left: 20px;
    border-right: 20px;
    border-radius: 15px;

}
.Luas-Segitiga {
    text-align: center;
    background-color: chartreuse;
    margin-right: 50px;
    margin-left: 50px;
    border-left: 20px;
    border-right: 20px;
    border-radius: 15px;

}
.Gambar-Segitiga {
    text-align: center;
}
.Hitung-Luas-Segitiga{
    text-align: center;
    font-size: 30px;
}
.Isi-Alas{
    width: 80%;
}
.Isi-Tinggi{
    width: 80%;
}

.btn-Hitung {
    background-color: crimson;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}

